/* base */

* {
	color: #163640;
	font-family: 'ITC Cheltenham Book', 'Verdana', serif;	
	font-size: 16px;
}
div {
	color: #445e66;
}
label {
	font-weight: 600;
	margin: 0 0.5em;
}
span {
	margin: 0 0.5em;
}
textarea, div[contenteditable=true] {
    overflow: hidden;
    resize: none;
}
footer {
	position: absolute;
	left: 86px;	
	top: 1028px;	
	width: 550px;
}
footer a {
	font-family: "Machine Font Regular";
}

/* character */

div.sw-stat {
	position: absolute;	
}
div#sw-character-type {
	left: 260px;
	top: 110px;
}
div#sw-character-name {
	left: 220px;
	top: 136px;
}
div#sw-character-height {
	left: 180px;
	top: 192px;
}
div#sw-character-weight {
	left: 340px;
	top: 192px;
}
div#sw-character-sex {
	left: 498px;
	top: 192px;
}
div#sw-character-age {
	left: 680px;
	top: 192px;
}
div#sw-character-description {
	left: 224px;
	top: 220px;
	width: 520px;
	font-size: 12px;
	line-height: 26px;
}
div#sw-character-move {
	display: none;	
}
div#sw-character-points {
	display: none;	
}
div#sw-character-up-side-points,
div#sw-character-down-side-points {
	position: absolute;
	top: 886px;
	width: 24px;
	font-size: 20px;
	text-align: center;
}
div#sw-character-up-side-points {
	left: 116px;
}
div#sw-character-down-side-points {
	left: 200px;
}

/* attributes */

div.sw-attribute-cover {
	position: absolute;
	background-color: #fff;
	/* border: 1px solid red; */
	width: 164px;
}

div#sw-attribute-cover-dex {
	left: 84px;
	top: 312px;
	height: 176px;
}

div#sw-attribute-cover-kno {
	left: 84px;
	top: 498px;
	height: 198px;
}

div#sw-attribute-cover-mec {
	left: 84px;
	top: 704px;
	height: 156px;
}

div#sw-attribute-cover-per {
	left: 260px;
	top: 312px;
	height: 154px;
}

div#sw-attribute-cover-str {
	left: 260px;
	top: 478px;
	height: 134px;
}

div#sw-attribute-cover-tec {
	left: 260px;
	top: 624px;
	height: 178px;
}

div.sw-attribute.sw-attribute-base {
	font-weight: 1000;
	font-size: 14px;
	text-transform: uppercase;
}
div.sw-attribute {
	display: block;
	position: absolute;
	font-size: 12px;
}
div.sw-attribute-name {
	/* border: 1px solid purple; */
	left: 4px;
	text-align: left;
	top: 0px;
	width: 100px;
}
div.sw-attribute-value {
	/* border: 1px solid pink; */
	border-bottom: 1px solid black;
	left: 110px;
	text-align: center;
	top: 0px;
	width: 50px;
}

/* sw-skill */
div.sw-skill {
	font-size: 14px;
	margin-top: -4px;
}
div.sw-skill-cover {
	/* border: 1px solid orange; */
}
div.sw-skill-name {
	display: inline-block;
	/* border: 1px solid purple; */
	margin-left: 4px;
	text-align: left;
	width: 100px;
}
div.sw-skill-name-med {
	font-size: 10px;
}
div.sw-skill-name-long {
	font-size: 8px;
}
div.sw-skill-value {
	/* border: 1px solid pink; */
	margin-left: 110px;
	margin-top: -18px;
	text-align: center;
	border-bottom: 1px solid black;
	top: 0px;
	width: 50px;
}

/* equipment */

div.sw-equipment-cover {
	position: absolute;
	background-color: #fff;
	/* border: 1px solid red; */
	width: 296px;
}

div#sw-equipment-cover {
	left: 454px;
	top: 330px;
	height: 116px;
}

div.sw-equipment {
	font-size: 14px;
	margin-top: 2px;
}

/* schwartz */

div#sw-schwartz-control {
	position: absolute;
	width: 50px;
	left: 352px;
	top: 806px;
	font-size: 14px;
}

div#sw-schwartz-sense {
	position: absolute;
	width: 50px;
	left: 352px;
	top: 826px;
	font-size: 14px;
}

div#sw-schwartz-alter {
	position: absolute;
	width: 50px;
	left: 352px;
	top: 846px;
	font-size: 14px;
}
