* {
	color: #163640;
	font-family: 'ITC Cheltenham Book', 'Verdana', serif;	
}
label {
	font-weight: 600;
	margin: 0 0.5em;
}
span {
	margin: 0 0.5em;
}
textarea, div[contenteditable=true] {
    overflow: hidden;
    resize: none;
}
footer {
	position: absolute;
	left: 200px;	
	top: 1028px;	
	width: 550px;
}
footer a {
	font-style: italic;
}
div.character-stat {
	position: absolute;	
}
div#character-type {
	left: 260px;
	top: 110px;
}
div#character-name {
	left: 220px;
	top: 136px;
}
div#character-height {
	left: 180px;
	top: 192px;
}
div#character-weight {
	left: 340px;
	top: 192px;
}
div#character-sex {
	left: 498px;
	top: 192px;
}
div#character-age {
	left: 680px;
	top: 192px;
}
div#character-description {
	left: 224px;
	top: 222px;
	width: 520px;
	font-size: 12px;
}
